* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter Tight", sans-serif;
  color: #42200b;
}

.container {
  max-width: 1300px;
  margin: auto;
}

/* Hero & Header */
.hero {
  background: #ffbe31;
  padding: 20px;
  padding-block: 2rem;
}

.hero-image {
  width: 500px;
  height: 500px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 1rem;
}

.logo h1 {
  font-size: 1.5rem;
}

.declaration {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bordered {
  border: 3px dashed #42200b;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5rem;
}

.bigger {
  font-family: "Bree Serif", serif;
  font-size: 8rem;
  font-weight: bolder;
  text-shadow: #fff 3px 3px;
}

.big {
  font-family: "Bree Serif", serif;
  font-size: 5rem;
  font-weight: bolder;
  text-shadow: #fff 3px 3px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  color: #000;
  text-decoration: none;
  margin-left: 50px;
  font-size: 1.2rem;
  font-weight: 500;
}

.delivery {
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.delivery i {
  margin-right: 1rem;
}

/* Cards */
.cards {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  padding-block: 3rem;
}

.cards-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.card-items1 {
  border-radius: 20px;
  background-image: url(../images/card\ 1.jpg);
  background-size: cover;
  height: 500px;
  padding: 10px;
  grid-row: 1 / 3;
}

.card-items2 {
  border-radius: 20px;
  background-image: url(../images/card\ 2.jpg);
  background-position: center;
  height: 240px;
  padding: 10px;
}

.card-items3 {
  border-radius: 20px;
  background-image: url(../images/card\ 3.jpg);
  background-position: center;
  background-size: cover;
  height: 240px;
  padding: 10px;
}

/* Showcase */
.showcase {
  text-align: center;
}

.showcase-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.tasty {
  background: #ffbe31;
  display: inline-block;
  padding: 8px;
}

.showcase-items {
  padding: 20px;
}

.showcase-items img {
  width: 300px;
  height: 300px;
}

.showcase-items h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.showcase-items p {
  margin-bottom: 1.5rem;
}

.showcase-items button {
  background: #df1c1c;
  border: none;
  padding: 10px;
}

.showcase-items button a {
  font-family: "Bree Serif", serif;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}
